<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>_maps&#x2F;templates&#x2F;sewers.dm - FROZEN SUMMIT</title>
</head>
<body>
<header>
    <a href="index.html">FROZEN SUMMIT</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>_maps/templates/sewers.dm 
            <a href="https://github.com/Odisurin/Frozen-Summits/blob/ee6a3aa103e1211b852af9dc04299344ad1aaaa0/_maps/templates/sewers.dm">
        <img src="git.png" width="16" height="16" title="_maps&#x2F;templates&#x2F;sewers.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th>/<a href="obj.html">obj</a>/effect/landmark/map_load_mark/sewers_topleft</th><td>TOP-LEFT<br />
Size: X:26 Y:20</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_topleft_1</th><td>Little prison</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_topleft_2</th><td>Abandoned warehouse</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_topleft_3</th><td>Beggar base</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_topleft_4</th><td>More sewer tunnels</td></tr>
        <tr><th>/<a href="obj.html">obj</a>/effect/landmark/map_load_mark/sewers_bottomleft</th><td>BOTTOM-LEFT<br />
Size: X:26 Y:18</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottomleft_1</th><td>Flooded large room</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottomleft_2</th><td>Metalworking area</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottomleft_3</th><td>More sewer tunnels</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_centre.html">&#x2F;obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_centre</a></th><td></td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_centre_1</th><td>More sewer tunnels</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_centre_2</th><td>Small rooms</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_bottom.html">&#x2F;obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_bottom</a></th><td></td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottom_1</th><td>Small hobo camp</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottom_2</th><td>Small side ruin</td></tr>
        <tr><th>/<a href="obj.html">obj</a>/effect/landmark/map_load_mark/sewers_bottomright</th><td>BOTTOM-RIGHT 
Size: X:19 Y:11</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottomright_1</th><td>Cultist hideout</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_bottomright_2</th><td>Mortuary</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_right.html">&#x2F;obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_right</a></th><td></td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_right_1</th><td>Small hobo camp</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_right_2</th><td>Skeleton closet</td></tr>
        <tr><th><a href="obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_top.html">&#x2F;obj&#x2F;effect&#x2F;landmark&#x2F;map_load_mark&#x2F;sewers_top</a></th><td></td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_top_1</th><td>More tunnels</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/map_template/sewers_top_2</th><td>Pipe room</td></tr></table></main>
<footer>
    roguetown.dme
    <a href="https://github.com/Odisurin/Frozen-Summits/tree/ee6a3aa103e1211b852af9dc04299344ad1aaaa0">ee6a3aa</a>
        (main) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
